<div style="width:100%; height:100%">
<div style="width:30%;height:15%; background-color:#001100; float:left">
<img src="clg.png" style="width:40%; height:100%">
</div>
<div style="width:70%; font-size:20;color:#FFFFFF;height:15%; background-color:#001100; float:right">
<h2><b><pre><u>  JAIPUR ENGINEERING COLLEGE  </u></pre></b></h2>
</div>
<div style="width:100%; height:15%; font-size:20; color:red;background-color:#FFFFFF; float:left">
<h3><pre>                                    STUDENT MANAGEMENT PORTAL        
<marquee> Education is service to mankind</marquee> </pre></h3>
</div>
<div style="width:100%; float:left">
<?php include('header.html') ?>
</div>
</div>
<div style="width:100%; color:blue">
<div style="width:25%; height:45%; background-color:#F0E68C; float:left">
<img src="queen.jpg" style="width:100%; height:100%">
</div>
<div style="width:25%; height:45%; background-color:#F0E68C; float:left">
<img src="a.jpg" style="width:100%; height:100%">
</div>
<div style="width:25%; height:45%; background-color:#F0E68C; float:left">
<img src="buffet.jpg" style="width:100%; height:100%">
</div>
<div style="width:25%; height:45%; background-color:#F0E68C; float:left">
<img src="c.png" style="width:100%; height:100%">
</div>
</div>
<div style="width:100%;color:blue">
<div style="width:100%; background-color:001100;height:14%; float:left">
<h1><i><pre>                                @2019     </pre></i></h1>
</div>
</div>